* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4; /* Light gray background */
  color: #333; /* Dark gray text */
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

#box {
  margin: 1rem 0;
  width: 90%;
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff; /* White box */
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1); /* Light shadow */
}

.fa-magnifying-glass {
  font-size: 25px;
  color: #555; /* Dark gray magnifying glass icon */
}

h1 {
  font-size: 40px;
  color: #333; /* Dark gray heading */
  margin-bottom: 1rem;
}

#inp {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0px 18px;
  font-size: 17px;
  outline: none;
  background-color: #f0f0f0; /* Light gray input background */
  color: #333;
}

::placeholder {
  color: #777; /* Gray placeholder text */
}

.imgbox {
  height: 269px;
  width: 265px;
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 6px;
  margin-top: 1rem;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); /* Slight shadow */
}

.imgname {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7px;
  color: #444; /* Dark gray text */
  font-size: 16px;
  height: 30px;
}

#search_btn {
  border: none;
  background: #4caf50; /* Green button */
  height: 100%;
  font-size: 15px;
  padding: 0px 18px;
  color: #fff; /* White text */
}

#search_results {
  width: 90%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.imgElement {
  width: 100%;
  height: 205px;
  transition: transform 0.3s ease-in-out;
}

.imgElement:hover {
  transform: scale(1.05);
}

.imgElement:hover .imgbox {
  background-color: #eee; /* Light gray on hover */
}

#showmore {
  margin-top: 2rem;
  margin-bottom: 3rem;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.2s, transform 0.3s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #ff9800; /* Orange button */
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #fff; /* White text */
}

#showmore:hover {
  background: #fb8c00; /* Darker orange on hover */
}

#showmore > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

#showmore:hover svg {
  transform: translateX(5px);
}

#showmore:active {
  transform: scale(0.95);
}
